@font-face {
    font-family: "STAY HOME";
    src: url("../assets/fonts/STAY\ HOME.otf")
}

h1 {
    font-family: "STAY HOME";
    color: black;
    border: 2px solid black;
    background-color: rgb(240, 240, 240);
    vertical-align: middle;
}

body {
    background-color: black !important;
}

#canvas {
    background-image: url("../assets/images/background.jpg");
    background-color: lightgrey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid red;

    display: block;
    margin-left: auto;
    margin-right: auto;
}